<h2>마케팅 정보 수신 동의</h2>
<p>Shoutel은 개인정보보호법 및 정보통신망이용촉진및정보보호등에관한법률 등 관계법령에 따라 광고성 정보를 전송하기 위해 수신자의 사전 수신동의를 받고 있습니다.</p>
<h3>- 전송방법</h3>
<p>고객님의 이메일 주소를 통해 전달될 수 있습니다.</p>
<h3>- 전송내용</h3>
<p>발송되는 마케팅 정보는 수신자에게 Shoutel과 관련하여 제공하는 혜택 정보, 각종 이벤트 정보 등 광고성 정보로 관련 법의 규정을 준수하여 발송됩니다. 단, 광고성 정보 이외 의무적으로 안내되어야 하는 정보성 내용은 수신동의 여부와 무관하게 제공됩니다.</p>
<h3>- 철회안내</h3>
<p>고객님은 수신 동의 이후에라도 의사에 따라 동의를 철회할 수 있으며, 수신을 동의하지 않아도 Shoutel이 제공하는 기본적인 서비스를 이용할 수 있으나, Shoutel의 마케팅 정보를 수신하지 못할 수 있습니다.</p>
<h3>- 수신동의 변경</h3>
<p>홈페이지 정보변경을 통해 수신동의를 변경(동의/철회)할 수 있습니다.</p>
<h3>- 개인정보 이용 상세내용</h3>
<p>이용하는 개인정보 - 보유 이용 목적</p>
<p>이메일 주소 - 혜택 정보, 각종 이벤트 정보 등 광고성 정보 제공</p>
