{{#comm_info}}
<section class="sht-comm-cover" style="background-image: url({{board_cover}})">
  <div class="container"></div>
</section>
<div class="sht-comm-title{{^view_post}} sticky{{/view_post}}">
  <div class="container title-area">
    <div class="left">
      <h1>{{board_name}}</h1>
    </div>
    <div class="right">
      <a class="button is-primary is-block is-alt is-large" href="/write/c/{{board_id}}">글쓰기</a>
    </div>
  </div>
</div>
{{/comm_info}}
<section class="sht-list-wrap">
  <div class="columns">
    <div class="column is-9 sht-list">
      {{> bulletin/list}}
      <div class="field has-addons pagination">
        {{#pagination}}
        <p class="control">
          <a class="button{{#current}} current{{/current}}" href="/c/{{board_id}}?page={{page}}">
            <span>{{button}}</span>
          </a>
        </p>
        {{/pagination}}
      </div>
    </div>
    <div class="column is-3 sht-right-sidebar">
      {{#comm_info}}
      <aside class="comm-box">
        <p class="box-label">
          커뮤니티 소개
        </p>
        <p class="box-content">{{description}}</p>
      </aside>
      {{/comm_info}}
    </div>
  </div>
</section>
