		<footer class="sht-footer">
			<div class="container">
				<div class="content">
					<ul class="sht-policy-list">
						<li class="policy-list"><a href="#">이용약관</a></li>
						<li class="policy-list"><a href="#">개인정보처리방침</a></li>
						<li class="policy-list"><a href="#">고객센터</a></li>
					</ul>
					<p>&copy; 2020 Shoutel</p>
				</div>
			</div>
		</footer>
