<nav class="navbar is-white top-nav">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand" href="/">{{site_name}}</a>
      <div class="navbar-burger burger" data-target="topNav">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        {{> default/menu}}
      </div>
      {{> member/navbar_login_btns}}
    </div>
  </div>
</nav>
