		<nav class="navbar is-white top-nav">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item brand" href="#">{{SITE_NAME}}</a>
					<div class="navbar-burger burger" data-target="topNav">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div id="topNav" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" href="cover.html">홈</a>
						<a class="navbar-item" href="landing.html">화제의 글</a>
						<a class="navbar-item" href="blog.html">커뮤니티</a>
					</div>
					<div class="navbar-end">
						<div class="field is-grouped member-box">
							<p class="control">
								<a class="button is-small">
									<span class="icon">
										<i class="fa fa-user-plus"></i>
									</span>
									<span>Register</span>
								</a>
							</p>
							<p class="control">
								<a class="button is-small is-info is-outlined">
									<span class="icon">
										<i class="fa fa-user"></i>
									</span>
									<span>Login</span>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</nav>
