<div class="container comm-list">
  <div class="buttons">
    <a href="/community/create" class="button is-link">커뮤니티 생성</a>
  </div>
  {{#comm_chunk}}
  <div class="columns">
    {{#comm_item}}
    {{> community/card}}
    {{/comm_item}}
  </div>
  {{/comm_chunk}}
  <div class="field has-addons pagination">
    {{#pagination}}
    <p class="control">
      <a class="button{{#current}} current{{/current}}" href="/community?page={{page}}">
        <span>{{button}}</span>
      </a>
    </p>
    {{/pagination}}
  </div>
</div>
