<section class="hero is-medium">
  <div class="navbar hero-head">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand" href="/">{{site_name}}</a>
        <div class="navbar-burger burger" data-target="topNav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          {{> default/menu}}
        </div>
        {{> member/navbar_login_btns}}
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="site-brand">SHOUTEL</h1>
      <h2 class="subtitle">
        유저가 만드는 게시판 전문점
      </h2>
    </div>
  </div>
</section>
