<div class="column is-4">
  <div class="card">
    {{#board_cover}}
    <img class="card_image" src="{{board_cover}}" alt="Avatar">
    {{/board_cover}}
    <div class="card_content">
      <h4><a href="/c/{{board_id}}"><b>{{board_name}}</b></a></h4>
      <p class="board-id"><i>c/{{board_id}}</i></p>
      <p>개설자: {{nick_name}}<br />개설일: {{register_date}}</p>
    </div>
  </div>
</div>
