<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="member-box policy-w600">
        <article class="message is-primary">
          <div class="message-header">
            <p>{{message_header}}</p>
          </div>
          <div class="message-body">
            {{{message}}}
          </div>
        </article>
        <a href="/" class="button is-primary">확인</a>
      </div>
    </div>
  </div>
</section>
